body {
    display: flex;
    flex-wrap: wrap;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}

.container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: nowrap;
    max-width: 60em;
    min-width: 45em;
    margin: 0 auto;
    justify-content:  space-between;

}

#about {
    display: flex;
    flex-basis: auto;
    padding-left: 2em;
    border-right-width: 2em;
    padding-right: 2em;
    border-radius : 0.7em;
    background-color: #6c63ff;
    margin-bottom:3em;
}

#about p {
    line-height: 1.5em;
    font-size: 1em;
    margin: 0;
    color: #000;
    text-align: justify;
}

h2 {
    color: #fff;
}


.but {
    border-radius: 0.7em;
    margin-top:1em;
    margin-bottom:1em;
    flex-basis: 100%;
    background-color: #1abc9c;
}