body {
    display: flex;
    flex-wrap: wrap;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
}

.container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 60em;
    min-width: 45em;
    margin: 0 auto;
    padding: 0 2em;
}

#about {
    flex-basis: 100%;
    background-color: #6c63ff;
}

#about p {
    line-height: 1.5em;
    font-size: 1em;
    margin: 0;
    color: #000;
    text-align: justify;
}

.memberbox {
    display: flex;
    flex-basis: 40%;
    overflow: hidden;
    height: 10rem;
    border-radius: 0.2em;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    margin: 0.5em;
}

h2 {
    color: #fff;
}

.avatar {
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
    border-radius: 50%;
}

.quotation {
    font-style: italic;
    font-weight: bold;
    color: #fff;
    font-size: 1em;
}

.but {
    flex-basis: 100%;
    background-color: #1abc9c;
}