html {
    background-image: url("../img/fogg-teamwork.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 50em;
}

body {
    display: flex;
    flex-wrap: wrap;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    justify-content: center;
}

.container {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    max-width: 60em;
    margin: 0 auto;
    justify-content: space-between;
}

#about {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    padding-left: 2em;
    border-right-width: 2em;
    padding-right: 2em;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    background-color: #6c63ff;
}

#about p {
    line-height: 1.5em;
    font-size: 1em;
    margin: 0;
    color: #000;
    text-align: justify;
}

h2 {
    color: #000;
}

a:hover {
    color: #1abc9c
}

#about h2 {
    color: white;
    text-align: center;
}

.but {
    border-radius: 0.7em;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-basis: 100%;
}


/* pour les téléphone on met le bg en blanc car sinon on ne peut pas lire le text*/

@media only screen and (max-width: 798px) {
    .but {
        background-color: white;
    }
}