.cartes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
    padding: 1.5em;
    box-sizing: border-box;
}
main
{
    background-color: #6c63ff;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
}
.carte {
    position: relative;
    background-color: white;
    padding-bottom: 3em;
    border-radius: 1em;
    max-width: 20em;
    margin-right: 1.5em;
    margin-bottom: 1.5em;
}

.carte section {
    padding: 5% 5% 3% 5%;
}

.carte header {
    position: relative;
    height: 20em;
    overflow: hidden;
}
.carte img 
{
    width: 100%;
}
.carte h3 {
    background: #6c63ff;
    color: white;
    font-family: "Nunito Sans", Arial, sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.2em;
    padding: 0 3.5%;
    margin: 0;
}

.carte footer {
    max-height: 0;
    overflow: hidden;
    color: #666;
    font-size: .78em;
    text-transform: uppercase;
    position: absolute;
    bottom: 5%;
    padding: 0 5%;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.carte:hover,
.carte:focus {
    background: white;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 0px 20px 0px;
}

.carte:hover footer,
.carte:focus footer {
    max-height: 1em;
}

.carte img {
    max-width: 100%;
    margin: 0 auto;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}