.blog-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.6%;
    background: #fff;
    line-height: 1.4;
    font-family: sans-serif;
    border-radius: 5px;
    overflow: hidden;
    flex-basis: 30%;

  }
  .blog-card a {
    color: inherit;
  }
  .blog-card a:hover {
    color: #5ad67d;
  }
  .blog-card .description {
    padding: 1rem;
    background: #fff;


    display: flex;
    flex-wrap: wrap;
    /*! flex-basis: 30%; */
  }
  .blog-card .description h1,
  .blog-card .description h2 {
    font-family: Poppins, sans-serif;
  }
  .blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
  }
  .blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #a2a2a2;
    margin-top: 0.7em;
  }
  .blog-card .description .read-more {
    text-align: right;
  }
  .blog-card .description .read-more a {
    color: #5ad67d;


  }

  .blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
  }
  .blog-card p {
    position: relative;
    margin: 1rem 0 0;
  }
  .blog-card p:first-of-type {
    margin-top: 1.25rem;
  }
  .blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #5ad67d;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
  }


  @media (min-width: 900px) {
    .blog-card {
      flex-direction: row;
      max-width: 700px;
    }
    .blog-card .meta {
      flex-basis: 40%;
      height: auto;
    }
    .blog-card .description {
      flex-basis: 60%;
    }

  }


   @media only screen and (max-width: 830px) {
    .blog-card {
        flex-basis: 100%;
    }
  }
