li a span.number {
    font-size: 16px;
    background: snow;
    color: #ff6347;
    padding: 2px 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
   li a:hover,  li a:focus {
    color: #ff6347;
    padding-left: 15px;
    background: #ffe5e0; }
     li a:hover i,  li a:focus i {
      right: 15px;
      opacity: 1; }
     li a:hover span,  li a:focus span {
      color: rgba(0, 0, 0, 0.8); }
     li a:hover .number,  li a:focus .number {
      color: #ff6347; }