body>footer {
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%;
    text-align: center;
}

body>footer>section {
    display: flex;
    flex-wrap: wrap;
    margin: 3em;
    justify-content: center;
}

body>footer>section>img {
    width: 3em;
    height: 3em;
}

.question {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.about {
    flex-basis: 20%;
}
.about p {
    flex-basis: 50%;
}

.question>* {
    margin: 1.5em;
}
.membre a {
    flex-basis: 100%;
}

footer a> p {
    color: white;
}

.membre{
    display: flex;
    flex-wrap: wrap;
}

footer h2{
    color: white
}

footer a:hover {
    color: tomato;
}