@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
html {
    margin: 2em;
    padding: 0;
}

body>section {
    display: flex;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
}

.static {
    background-color: #6c63ff;
    color: white;
}

.search_bar {
    z-index: 10;
    display: flex;
    background-color: #6c63ff;
    margin-top: 11em;
    margin-left: 30%;
    height: max-content;
    border-radius: 0.5em;
    align-items: center;
}

body {
    font-family: 'Lato';
}

h3 {
    font-size: 2em;
    padding: 2em;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

#recherche {
    flex-basis: 100%;
}

main header {
    display: flex;
    height: 60em;
}

.background-image {
    top: 0;
    right: 0;
    position: absolute;
    z-index: -10;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    font-size: -webkit-xxx-large;
}

.description {
    z-index: 2;
}