@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
html {
    margin: 2em;
    padding: 0;
}

body>section {
    display: flex;
}

.section {
    position: relative;
    height: 100vh;
    display: flex;
    border-top-right-radius:2em;
    border-top-left-radius:2em;
}
h2
{
   flex: 1 1 100%;
   height: 2em;
}
.static {
    background-color: #6c63ff;
    color: white;
}

.search_bar {
    display: flex;
    background-color: #6c63ff;
    margin-top: 11em;
    margin-left: 30%;
    height: max-content;
    border-radius: 0.5em;
    align-items: center;
    width: min-content;
}

body {
    font-family: 'Lato';
}

h3 {
    font-size: 2em;
    padding: 2em;
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 2em 0 2em 0;
}

#recherche {
    flex-basis: 100%;
    background-image: url("../img/undraw_freelancer_b0my.svg");
    background-repeat: no-repeat;
    background-position-x: left;
    background-size: 30%;
    background-position-y: top;
}

main header {
    display: flex;
    height: 50em
}

.background-image {
    top: 0;
    right: 0;
    position: absolute;
    z-index: -10;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    font-size: -webkit-xxx-large;
    font-size: xx-large;

}
