<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>PPP site </title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/dropdown.css">
    <link rel="stylesheet" href="css/navbar.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>Après votre DUT Info</h1>
        <nav>
            <ul>
                <li>
                    <a href="#">Acceuil</a>
                </li>
                <li>
                    <a href="pages/categorie.html">Catégorie</a>
                </li>
                <li>
                    <a href="pages/aide.html">Aide</a>
                </li>
                <li>
                    <a href="pages/a_propos.html">A propos</a>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <header>
            <h2>Rechercher quelle métier vous pouvez éxercer apres votre DUT</h2>
            <div class="search_bar">
                <span class="custom-dropdown">
                    <select>
                    <!--<option>Réseau</option>
                        <option>Sécurité</option>  
                        <option>Dévlopement</option>
                        <option>Communication</option> -->
                        {% for categorie in categorie %}
                            <option>{{categorie}}</option>
                        {% endfor %}
                    </select>
                </span>
                <span class="custom-dropdown">
                    <select>
                        {% for niveau in niveaux %}
                            <option>{{niveau}}</option>
                        {% endfor %}
                    </select>
                </span>
            </div>
            <img src="img/image.svg" alt="">
            <!--   TODO -->
        </header>

        <section id="recherche" class="section static">
            <div class="container" id="search-result">
                <h3>Résultat de la recherche</h3>

            </div>

        </section>

    </main>

    <script src="js/lib/jquery-3.4.1.min.js"></script>

</body>

</html>