<header>
    <a href="index.html"><img src="../img/logo.png" class="logo" alt="logo"></a>
    <h1>Après votre DUT Info</h1>
    <nav>
        <ul>
            <li class="hoverme">
                <a href="index.html">Acceuil</a>
            </li>
            <li class="hoverme">
                <a href="categories.html">Catégories</a>
            </li>
            <li class="hoverme">
                <a href="aide.html">Aide</a>
            </li>
            <li class="hoverme">
                <a href="a_propos.html">A propos</a>
            </li>
        </ul>
    </nav>
</header>