<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>PPP site </title>

    <link rel="stylesheet" href="../css/dropdown.css">
    <link rel="icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer_ppp.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/up-button.css">
    <link rel="stylesheet" href="../css/select.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/card-search.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% include "components/page/nav.html" %}{% include "components/page/upbutton.html" %}
    <main>
        <header>

            <h2>Rechercher quelle métier vous pouvez éxercer apres votre DUT</h2>
            <div class="desciption">
                <h4>
                    Choisissez votre niveaux d'études et une catégorie
                </h4>
                <div class="search_bar">
                    <span class="custom-dropdown">
                    <select>
                        <option>Choisissez une catégorie</option>
                        {% for categorie in categories %}
                            <option>{{categorie}}</option>
                        {% endfor %}
                    </select>
                </span>
                    <span class="custom-dropdown">
                    <select>
                        <option>Choisissez le niveau d'étude</option>
                        {% for niveau in niveaux %}
                            <option>Bac + {{niveau}}</option>
                        {% endfor %}
                    </select>
                </span>
                    <a href="" onclick="search()" class="buttons flatbutt orange">Rechercher</a>
                </div>

            </div>
        </header>

        <section id="recherche" class="section static">
            <div class="container" id="search-result">
                <h3>Résultat de la recherche</h3>
                    {% for (nom,level,decription,categorie,salaire,lien) in search_data %}
                    <div class="blog-card" value="{{categorie}};{{level}}">

                        <div class="description">
                          <h3>{{nom}}</h3>
                          <h2>{{categorie}}</h2>
                          <p>{{decription}}</p>
                          <p class="read-more">
                            <a href="{{lien}}">En savoir plus</a>
                          </p>
                        </div>
                      </div>
                    {% endfor %}
            </div>
        </section>

    </main>
    <script src="../python/components/js/upbutton.js"></script>
    {% include "components/page/footer.html" %}
    <script> 

    function search(){


    }


    </script>


</body>
<!-- 
    (\__/)
    (=''=) <(woooof)
    (")_(")
 -->

</html>