<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>PPP site - Categories</title>
    <link rel="icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/categories.css">
    <link rel="stylesheet" href="../css/footer_ppp.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    {% include "composant/nav.html" %}
    <main>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

        <section class="hero-section">
            <div class="card-grid">
                {% for categorie in categories_liste.items() %}
                <a class="card" href="#">
                    <div class="card__background" style="background-image: url({{categorie[1][1]}})"></div>
                    <div class="card__content">
                        <p class="card__category">{{categorie[1][0]}} emplois</p>
                        <h3 class="card__heading">{{categorie[0]}}</h3>
                    </div>
                </a>
                {% endfor %}
            </div>
        </section>
    </main>
    {% include "composant/footer.html" %}
</body>

</html>