<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>PPP site - Aide</title>
    <link rel="stylesheet" href="../css/aide.css">
    <link rel="icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/footer_ppp.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/up-button.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% include "components/page/nav.html" %} {% include "components/page/upbutton.html" %}
    <h2>Des sites a visiter aussi</h2>
    <main>
        <section class="cartes">
            {% for (nom_site,description,lien_site,lien_image) in liens_importants %}
            <a class="carte" href="{{lien_site}}">
                <header>
                    <img src="{{lien_image}}" alt="image{{nom_site}}">
                    <h3>{{nom_site}}</h3>
                </header>
                <section>
                    <h5>
                        {{description}}
                    </h5>
                </section>
                <footer>
                    {{lien_site}}
                </footer>
            </a>
            {% endfor %}
        </section>
    </main>
    <script src="../python/components/js/upbutton.js"></script>
    {% include "components/page/footer.html" %}



</body>

</html>