<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>PPP site </title>

    <link rel="stylesheet" href="../css/dropdown.css">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/footer_ppp.css">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="stylesheet" href="../css/select.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    {% include "composant/nav.html" %}
    <main>
        <header>
            <h2>Rechercher quelle métier vous pouvez éxercer apres votre DUT</h2>
            <div class="desciption">
                <h4>
                    Choisissez votre niveaux d'études et une catégorie
                </h4>
                <div class="search_bar">
                    <span class="custom-dropdown">
                    <select>
                        {% for categorie in categories %}
                            <option>{{categorie}}</option>
                        {% endfor %}
                    </select>
                </span>
                    <span class="custom-dropdown">
                    <select>
                        {% for niveau in niveaux %}
                            <option>Bac + {{niveau}}</option>
                        {% endfor %}
                    </select>
                </span>
                    <a href="" class="buttons flatbutt orange">Rechercher</a>
                </div>

            </div>
        </header>

        <section id="recherche" class="section static">
            <div class="container" id="search-result">
                <h3>Résultat de la recherche</h3>

            </div>

        </section>

    </main>

    {% include "composant/footer.html" %}

</body>

</html>