<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <title>PPP site - a_propos</title>
    <link rel="icon" href="../img/logo.png">
    <link rel="stylesheet" href="../css/navbar.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/about.css">
    <link rel="stylesheet" href="../css/footer_ppp.css">
    <link rel="stylesheet" href="../css/cards.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
</head>

<body>
    {% include "composant/nav.html" %}
    <div class="page">
        <section id="about">
            <div class="container">
                {% for eleve, val in groupe.items() %}
                <div class="card">
                    <div class="banner">
                        <div class="avatar">
                            <!-- TODO reformat this ugly code  -->
                            <img src="{{val[0][0]}}" alt="eleve-{{name}}-image">
                        </div>
                    </div>
                    <h3>{{eleve}}</h3>
                    <a href="mailto:{{val[0][2]}}">📧{{val[0][2]}}</a>
                    <a target="_blank" href="{{val[0][3]}}">🌐www.github.com</a>
                </div>
                {% endfor %}

            </div>
        </section>

        <section class="but">
            <h2>Dans quel but ?</h2>
            <p>Ce site a pour but d'informer et de diriger les étudiants qui chercheraient un métier avec un DUT informatique en poche. Pour les aider à mieux s'insérer dans le monde travail, les étudiants ont la possibilité de s'informer sur chaque métiers
                en fontion de l'année d'étude.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, laudantium!0</p>
        </section>
    </div>

    {% include "composant/footer.html" %}

</body>

</html>